<div>
    <div class="tests-container row">
        <div class="tests-list col-lg-3 col-md-6" *ngFor="let test of tests">
            <mat-card class="test">
                <mat-card-header>
                    <mat-card-title>
                        {{test.lastName}}
                    </mat-card-title>
                </mat-card-header>

                <mat-card-content>
                    <p>
                        {{test.firstName}}
                    </p>
                </mat-card-content>
            </mat-card>

        </div>
    </div>
</div>