.tests-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .tests-list {
        margin: 20px;
        mat-card {
            background-color: #c4bcbc;
            height: 200px;
            width: 250px;
        }
    }
}
